[Unit]
Description=Custom TTL override for modem WAN traffic
After=QCMAP_ConnectionManagerd.service ipacm.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 20
ExecStart=/opt/scripts/ttl/ttl-override start
ExecStop=/opt/scripts/ttl/ttl-override stop

[Install]
WantedBy=multi-user.target
